<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  </BR>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <h1>Sistema de Qualificação de Restaurantes !!!</h1>
    </div>
  </div>
</nav>

</BR>
    <div class="container">

      <%= link_to "Home", home_index_path, class:"btn btn-primary" %>

      <%= link_to "Restaurantes", restaurantes_path, class:"btn btn-success" %>

      <%= link_to "Clientes", clientes_path, class:"btn btn-info" %>

      <%= yield %>
    </div>
 <footer>
 </footer>

</body>
</html>
